language: ruby
rvm:
  - 2.5.5

script: bundle exec jekyll build

cache: bundler

branches:
  only:
  - master

deploy:
  provider: pages
  skip_cleanup: true
  local_dir: _site
  github_token: $GITHUB_TOKEN
  keep_history: false
  target_branch: html
  fqdn: mcibeacon.ml
  on:
    branch: master

notifications:
  email:
    on_success: never
    on_failure: always
